html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    aspect-ratio: 1/1.386;                      
    width: min(100vw, 72.15vh);                 /*adjusts to screensize*/
    background-color: hsl(0, 0%, 18%);
    
    --u: calc(min(100vw, 71.43vh) / 100);       /*creates css-variable with 1% width of the screen*/
    
    display: flex;
}